.components {
    background: rgb(163,165,173);
    background: radial-gradient(circle, rgba(163,165,173,1) 0%, rgba(239,239,239,1) 100%);
    display: flex;
    flex-direction: column;
}

.components__button {
    margin-bottom: 5%;
}