.button {
    background-color: #f9c951;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 185px;
    height: 62px;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    border: none;
}

.button__link {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}