.feedback-form__connection {
    grid-row: 3/5;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-form__header {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.feedback-form__group {
    margin-bottom: 3%;
}

.feedback-form__input {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 19px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    height: 45px;
    padding: 0 26px;
    width: 80%;
}

.feedback-form__connection {
    grid-column: 2/3;
}

.feedback-form__group {
    position: relative;
}

.feedback-form__promt {
    display: none;
    position: absolute;
    bottom: 50%;
    right: 50px;
    border-radius: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8d8d8d;;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

/* Появление скрытого элемента при клике */
.feedback-form__input:focus+.feedback-form__promt {
    display: block;
}