.feedback-form__connection {
    grid-row: 3/5;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.feedback-form__header {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 1103px) {
    .feedback-form__header {
        font-size: 25px;
    }
}

@media (max-width: 851px) {
    .feedback-form__header {
        font-size: 23px;
    }
}

@media (max-width: 768px) {
    .feedback-form__header {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .feedback-form__header {
        font-size: 17px;
    }
}

.feedback-form__group {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 651px) {
    .feedback-form__group {
        display: flex;
        justify-content: center;
    }
}

.feedback-form__input {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 19px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    height: 45px;
    padding: 0 26px;
    width: 80%;
}

@media(max-width: 1780px) {
    .feedback-form__input {
        width: 100%;
    }
}

@media(max-width: 1103px) {
    .feedback-form__input {
        width: 100%;
    }
}

@media(max-width: 651px) {
    .feedback-form__input {
        width: 80%;
        margin-left: 10%;
    }
}

@media(max-width: 550px) {
    .feedback-form__input {
        width: 100%;
        margin-left: 0;
    }
}

@media(max-width: 440px) {
    .feedback-form__input {
        width: 100%;
        font-size: 10px;
    }
}

.feedback-form__connection {
    grid-column: 2/3;
}

@media (max-width: 651px) {
    .feedback-form {
        grid-column: 1/-1;
        grid-row: 4/5;
    }
}

.feedback-form__group {
    position: relative;
}

.feedback-form__promt {
    display: none;
    position: absolute;
    bottom: 50%;
    right: 2%;
    border-radius: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8d8d8d;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

@media(max-width: 651px) {
    .feedback-form__input:focus+.feedback-form__promt {
        right: 22%;
    }
}


/* Появление скрытого элемента при клике */
.feedback-form__input:focus+.feedback-form__promt {
    display: block;
}