.promo__description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 2px
}

@media (max-width: 651px) {
    .promo__description {
        font-size: 15px;
    }
}

@media (max-width: 440px) {
    .promo__description {
        font-size: 12px;
    }
}

.promo__product {
    margin-top: 100px;
}

.promo__body {
    position: relative;
    z-index: 2;
}